body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  :root {
    --rotation-animation-speed: 2s;
   --rotation-animation-easing: linear;
   --stroke-animation-speed: 1.5s;
   --stroke-animation-easing: ease-in-out;
   --stroke-width: 3px;
   --stroke-start-dasharray: 1, 200;
   --stroke-end-dasharray: 89, 200;
  }
  

  